


.bg-obsidian {
  background-color: #0b0c10 !important; 
  font-size: 1.5rem;                    
  color: white;                         
}

.text-bigwhite {
  font-size: 1.5rem;  
  color: white;       
}

.navbar-brand:hover {
  color: rgba(255, 255, 255, 0.7) !important; 
}

.modal-movie {
    width: 80% !important; 
    height: 80% !important ;

    padding: 20% !important;


}
.text-mine-sub {
  font-size: medium !important;
  font-weight: bolder !important;
  font-style: italic;


}

.text-mine-big{ 
  font-size: xx-large;
  font-weight: bolder;
  font-style: initial;

}