{% extends "index.html" %}


{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
      const modal = new bootstrap.Modal(document.getElementById("movieModal"));
      modal.show();
    });
</script>
<div class="modal fade " id="movieModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-mine-big" id="exampleModalLabel">{{data["Title"]}}</h1>
                
            </div></button>
            <div class="modal-body">
                <img class="img-fluid" src="{{ data['Poster'] }}" alt=" {{ data['Title'] }}"> <p class="text-mine-sub">{{ data["Plot"] }}</p>
                
                
                
                
                
                <table style="padding: 10%;">
                    <thead>
                        <tr>
                            <th>Clave</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in data.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}    
                    </tbody>   
                </table>
            </div>
            <div class="modal-footer">
                <a href="/"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></a>
            
             </div>
        </div>
    </div>
</div>








{% endblock %}